<%- include("partials/header") %>
<main>
    <div>
        <h2>Dog care</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, culpa dignissimos totam facere molestias nulla at iure qui similique explicabo natus rem numquam aut ea, officia amet quos tenetur ut.
        Eligendi impedit excepturi accusantium obcaecati quibusdam sit asperiores rem <br> <br>eveniet dicta distinctio! Eius culpa repudiandae corrupti magni velit! Obcaecati asperiores fugit fugiat odio culpa minima totam corrupti ipsa veniam nam!
        Fugiat magni quo molestiae adipisci, repudiandae maxime ipsum inventore voluptates aperiam id recusandae soluta itaque, ullam nulla non aspernatur consequatur doloribus necessitatibus tempore dicta. Quo placeat sunt ab voluptatem porro?</p>
    </div>
    <div>
        <details>
            <summary><h2>cat tip</h2></summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis aliquid nam eius nobis dolore reiciendis quas modi repellendus labore consectetur ratione possimus, voluptates non adipisci enim quidem ab velit? <br> <br>
            Unde molestias soluta velit amet fugit atque expedita hic, possimus aperiam necessitatibus quia consequuntur eius ratione maiores inventore officia mollitia quisquam dicta odit repellendus esse ea at ad. In, eius.</p>
        </details>
    </div>
    <div>
        <details>
            <summary><h2>Bird tip</h2></summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis a perspiciatis repudiandae explicabo accusamus sequi impedit quae, assumenda totam illum, nesciunt maiores delectus quod nihil in. <br> <br> Sit, ipsam quam.
            Error aperiam porro quisquam quis, quas ea cumque cupiditate neque. Hic dolore eveniet tenetur aliquid quibusdam eius neque sequi et eaque iusto! Harum officia at soluta nisi rem consequatur veritatis.</p>
        </details>
    </div>
    <div class="last-blog">
        <details>
            <summary><h2>Housing</h2></summary>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero natus at accusamus accusantium eos voluptas exercitationem, impedit consequatur! Sapiente in qui ex eos mollitia quae vero eius, dolor facere natus. <br> <br>
            Recusandae corporis odit ea vitae ex necessitatibus hic illum saepe temporibus accusantium, sed amet omnis rem eius eveniet aliquid. Quas molestias quos sed tempora amet minima, perferendis eaque ipsum consequatur!</p>
        </details>
    </div>

</main>
<%- include("partials/footer") %>