<%- include("partials/header") %>
<main style="height: 70vh;">
    <h2>Love this website? <br> <br> Want Something similar?</h2> <br>
    <p>Please send me a mail, let's get it to your taste</p> <br>
    <p><a href="Email:oluwatimileyinadeosun@gmail.com">oluwatimileyinadeosun@gmail.com</a></p> <br>
    <p>Also, you can call or whatsapp: <a href="tel:+234-708-513-4339">+2347085134339</a></p> <br>
</main>
<%- include("partials/footer") %>